a{ 
    color : #d63384;
}
a[href="#top"]{
	color: #212529;
	position : fixed;
	right : 10px;
	bottom : 10px;
	text-decoration : none;
	padding : 5px;
	background-color : #C0C0C0;
}
body{
    margin-left: 20px;
    margin-right: 20px;
}
h6{
	text-decoration: underline;
	font-weight: bold;	
}
h8{
    font-style: normal;
    font-weight: bold;
}
img{
    border: 1px solid #C0C0C0;
    display :block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
mark{
    font-style: italic;
    background-color : #fff;
}
strong{
    color: #f4b183;
}
head[type="titre"]{
    padding: 15px;
    background-color: #800000;
    color: white;
}
emph{
    color: blue;
}
eg{
 border: 1px solid #696969; 
 padding: 5px;   
}
eg{
 color: #99CC66;
    display: inline;  
}
p[style="example"]{
 display: block; 
 font-size: medium; 
 font-style: italic; 
 margin-left: 40px;
 margin-right: 40px;
}